<?php
$config = [
    'conv_id' => '',
    'client' => [
        'id' => '',
        'secret' => '',
    ],
    'plugins' => [
        'example' => [
            'parent_id' => '',
            'conv_id' => ''
        ]
    ]
];
